* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #E1E13C;
    font-family: sans-serif;
    font-size: 17px;
}
header {
    color: #E1E13C;
    background-color: #1B1C1A;
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.menu a {
    padding: 8px 16px;
    color: #1B1C1A;
    background-color: darkgrey;
    border: 1px solid #1B1C1A;
    margin-bottom: 5px;
}
header h1 {
    color: #1B1C1A;
    background-color: #E1E13C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: overline underline;
    font-size: 30px;
    font-size: 50px;
}
a {
    text-decoration: none;
    color: lightblue;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
}
.sidebar {
    flex: 0 0 15%;
    max-width: 15%;
}
.main {
    flex: 0 0 85%;
    max-width: 85%;
    display: flex;
}
.main .content {
    flex: 0 0 60%;
    max-width: 60%;
}
.main .photo {
    flex: 0 0 40%;
    max-width: 40%;
}



footer {
    display: flex;
    color: #E1E13C;
    background-color: #1B1C1A;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 10px;
}

